.start {
    border: 1px solid black;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

.questions {
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}

.choice-list {
    list-style-type: none;
    text-align: center;
}

#submit-button {
    margin: 10px;
}

.answer-option {
    text-align: center;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}

.correct {
    border: 1px solid black;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

.incorrect {
    border: 1px solid black;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

.final {
    border: 1px solid black;
    text-align: center;
    padding: 10px;
    margin: 10px;
}