* {
    box-sizing: border-box;
}

body {
    background: url('images/dramaticdarkgreen\ \(1\).jpg') fixed;
    background-repeat: repeat;
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    line-height: 18px;
}

ul {
    list-style-type: none;
}

li {
    display: block;
    padding: 3px;
    background-color: #FFB48A;
    margin: 3px;
}

.question-score {
    font-family: 'Oswald', sans-serif;
    color: black;
    display: flex;
    flex-direction: row;
}

fieldset {
    margin: 0;
    border: none;
    padding: 0;
}

h1 {
    text-align: center;
    font-family: 'Amatic SC', cursive, bold;
    font-size: 46px;
    margin-bottom: 20px;
    line-height: 42px;
}

h2 {
    font-family: 'Amatic SC', cursive, bold;
    font-size: 42px;
    line-height: 40px;
}

h3 {
    color: black;
    line-height: 42px;
}

.start p {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    padding: 15px;
    line-height: 26px;
}

.start {
    text-align: center;
}

.start-button {
    font-size: 42px;
}

button {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    border-radius: 10px;
    margin: 20px;
    padding: 15px;
    background-color: white;
}

button:hover, button:focus {
    background-color: #ADFFD3;
    color: #FF724D;
}

.questionAnswerForm {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    padding: 20px;
}

label {
    display: flex;
    padding: 20px;
    line-height: 22px;
    margin: 10px;
}

label:nth-child(1) {
    background-color: #9ED0E8;
}

label:nth-child(2) {
    background-color: #9EE8D6;
}

label:nth-child(3) {
    background-color: #ADFFD3;
}

label:nth-child(4) {
    background-color: #BAFCFF;
}

label:hover, label:focus {
    background-color: #FFB48A;
}

input[type=radio],
input[type=checkbox] {
  opacity: 0;
  position: fixed;
  width: 0;
}

form input[type="radio"]:checked + label {
    background-color: #FFB48A;
}

.answerOption {
    display: flex;
    justify-content: center;
    font-size: 22px;
    padding: 15px;
}

.correctFeedback {
    font-family: 'Amatic SC', cursive, bold;
    font-size: 42px;
    text-align: center;
    color: white;
}

.incorrectFeedback {
    font-family: 'Amatic SC', cursive, bold;
    font-size: 42px;
    text-align: center;
    color: white;
}

img {
    width: auto;
    height: 250px;
}

alt {
    font-family: 'Oswald', sans-serif;
}

@media screen and (min-width: 1024px) {
    li {
        display: block;
        padding: 3px;
        background-color: none;
        font-size: 20px;
    }
    
    .question-score {
        font-family: 'Oswald', sans-serif;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    button {
        text-align: center;
        font-family: 'Oswald', sans-serif;
        font-size: 20px;
        border-radius: 10px;
        margin: 10px;
        padding: 10px;
        background-color: white;
    }

    img {
        width: auto;
        height: 300px;
        border: 2px solid #FFB48A;
    }
}

@media screen and (min-width: 768px) {
    li {
        display: block;
        padding: 3px;
        background: transparent;
        font-size: 20px;
    }
    
    .question-score {
        font-family: 'Oswald', sans-serif;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    button {
        text-align: center;
        font-family: 'Oswald', sans-serif;
        font-size: 25px;
        border-radius: 10px;
        margin: 10px;
        padding: 10px;
        background-color: white;
    }
    img {
        width: auto;
        height: 300px;
        border: 2px solid #FFB48A;
    }
}